$primaryColorDark: #161926;
$secondaryColorDark: #689ff2;
$thirdColorDark: rgba(83, 243, 205, 0.3);
$fourthColorDark: #53f3cd;

@media screen and (min-width: 1023px) and (max-width: 1370px) {
  .section_info {
    .item_content {
      width: 80%;
      align-items: center;
      gap: 20px;
      top: 6%;
      left: 10%;
    }
  }
  .section_promises {
    .item_content {
      width: 80%;
      top: 7%;
      left: 10%;
    }
  }
  .section_review {
    & .cards_block {
      & .card_item {
        width: 31%;
        & .item_content {
          top: 19px;
          right: 10px;
          bottom: 20px;
          left: 10px;
        }
      }
    }
  }
  .margine_bottom {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    top: 15px;
    & .container {
      padding-top: 20px;
      padding-bottom: 20px;
      & .navigation {
        & .nav_menu {
          & .toggle {
            &:checked ~ ul {
              flex-direction: column;
              position: absolute;
              top: 72px;
              display: flex;
              background: linear-gradient(
                  270deg,
                  rgba(137, 150, 153, 1.5) 0%,
                  rgba(255, 255, 255, 0.8) 24.1%,
                  rgba(255, 255, 255, 0.8) 47.19%
                ),
                rgba(137, 150, 153, 0.5);
              backdrop-filter: blur(4.5px);
              z-index: 10;
              gap: 10px;
              left: 0;
              align-items: center;
              padding-bottom: 20px;
              width: 100%;
              & a {
                font-weight: 900;
              }
            }
          }
          & ul {
            display: none;
          }
          & .menuHamburger {
            display: block;
          }
        }
      }
    }
  }
  .section_first_content {
    .first_img {
      padding: 0 0 59% 0;
    }
    .content {
      max-inline-size: 66ch;
      top: 31.055556%;
    }
  }
  .section_info {
    & .item_img {
      display: none;
    }
    & .item_content {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
    }
  }
  .section_review {
    margin-top: 50px;
    .cards_block .card_item .item_content blockquote p {
      min-height: 164px;
    }
    & .title {
      text-align: center;
      & p {
        max-inline-size: none;
      }
    }
  }
  .section_benefits {
    margin-top: 50px;
  }
  .section_video {
    margin-top: 50px;
  }
  .section_quote {
    margin-top: 0;
  }
  .section_promises {
    margin-top: 50px;
    & .item_img {
      width: 100%;
    }
    & .item_content {
      width: 55%;
      left: 21%;
      top: 2%;
      & .right {
        & .block_button {
          border: 1px solid #e4e4e4;
          padding: 17px;
          margin-top: 84px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
  header {
    top: 5px;
    & .container {
      padding-top: 5px;
      padding-bottom: 5px;
      & .navigation {
        & .nav_menu {
          & .toggle {
            &:checked ~ ul {
              top: 42px;
            }
          }
        }
      }
    }
  }
  .section_first_content {
    .content {
      top: 20%;
      max-inline-size: 40ch;
      & p {
        margin-bottom: 25px;
      }
    }
  }
  .section_promises {
    & .item_content {
      width: 100%;
      left: 0;
      // padding-top: 22px;
      justify-content: center;
      & .right {
        & .block_button {
          border: 1px solid #e4e4e4;
          padding: 15px;
          margin-top: 32px;
        }
      }
      & p {
        font-size: 2vw;
        margin-top: 0;
      }
      & h5 {
        font-size: 2.5vw;
      }
    }
  }
  .section_benefits {
    & div {
      width: 100%;
      text-align: center;
      & h2 {
        max-inline-size: none;
      }
      & p {
        max-inline-size: none;
      }
    }
  }

  .section_video {
    & div:nth-child(2) {
      width: 100%;
      text-align: center;
    }
  }
  .section_review .cards_block .card_item .item_content {
    top: 20px;
    right: 10px;
    left: 10px;
  }

  footer {
    padding-bottom: 15px;
    padding-top: 15px;
    & .container {
      justify-content: center;
      gap: 20px;
    }
  }
  .section_contact {
    & .contact_form {
      & form {
        & div {
          & label {
            font-size: 14px;
          }
        }

        & .button {
          width: 100px;
          height: 10px;
          button {
            font-size: 12px;
            top: -6px;
            left: -7px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 4vw;
  }
  .section_first_content {
    .content {
      top: 30%;
      max-inline-size: 37ch;
      & p {
        font-size: 2.5vw;
        margin-bottom: 25px;
      }
    }
  }
  .section_promises {
    & .item_img {
      display: none;
    }
    & .item_content {
      position: relative;
      margin-left: 0;
      padding-left: 0;
      border: 1px solid $primaryColorDark;
      & .left {
        text-align: center;
        & div:nth-child(1) {
          margin-bottom: 33px;
        }
      }
      & .right {
        text-align: center;
        & .block_button {
          & .button {
            margin: 0 auto;
          }
        }
      }
      & p {
        font-size: 4vw;
      }
      & h5 {
        font-size: 5vw;
      }
    }
  }
  .section_benefits {
    row-gap: 0;
  }
  .section_review {
    & .cards_block {
      flex-direction: column;
      & .card_item {
        width: 100%;
        & .item_content {
          & blockquote {
            & p {
              font-size: 4vw;
              max-inline-size: none;
            }
            & footer {
              font-size: 4vw;
            }
            & footer.margine_bottom {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
  .section_contact {
    .flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .contact_title {
        margin-top: 30px;
        width: 100%;
        text-align: center;
        & p {
          max-inline-size: 54ch;
          margin: 10px auto;
        }
      }
    }
    & .contact_form {
      width: 100%;
      & form {
        margin-top: 5px;
        & .button {
          // width: 29.5%;
          height: 10px;
          margin-top: 15px;
          align-self: center;
          button {
            font-size: 12px;
            top: -6px;
            left: -7px;
          }
        }
        & div {
          & label {
            top: 0;
          }
        }
      }
    }
  }
  footer {
    & .container {
      & p,
      span {
        font-size: 2.9vw;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .section_first_content {
    .content {
      h1 {
        font-size: 5vw;
      }
      max-inline-size: 37ch;
      & p {
        font-size: 3vw;
        margin-top: 10px;
      }
      & .button {
        width: 100px;
        & a {
          top: -7px;
          left: -7px;
          font-size: 1em;
        }
      }
    }
  }
  footer {
    & .container {
      gap: 10px;
    }
  }
}
@media screen and (max-width: 375px) {
  .section_first_content {
    .content {
      max-inline-size: 32ch;
    }
  }
}
@media screen and (max-width: 320px) {
  .section_first_content {
    .content {
      max-inline-size: 27ch;
      & p {
        margin-bottom: 15px;
      }
    }
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: $primaryColorDark;
  }
  h1,
  h2 {
    color: white;
    & i {
      color: $secondaryColorDark;
    }
  }
  p {
    color: white;
  }
  input {
    border-bottom: 1px solid #2d303c;
  }
  .button {
    background-color: $thirdColorDark;
    & a {
      color: $fourthColorDark;
    }
    &:hover {
      background-color: #b4f6e6;
      & a {
        color: #02e0ab;
      }
    }
  }
  header {
    background: linear-gradient(
        270deg,
        rgba(22, 25, 38, 0.5) 0%,
        rgba(22, 25, 38, 0) 24.1%,
        rgba(22, 25, 38, 0) 47.19%
      ),
      rgba(22, 25, 38, 0.02);
    & .container {
      & .navigation {
        & .nav_menu {
          & .toggle {
            &:checked ~ ul {
              background: #0a1426;
              opacity: 0.9;
            }
          }
          & ul {
            & li {
              &:hover {
                &::after {
                  background: linear-gradient(
                    97deg,
                    #53f3cd 6.73%,
                    rgba(83, 243, 205, 0) 116.9%
                  );
                }
              }
              & a {
                color: white;
              }
            }
          }
          & .menuHamburger {
            label {
              .burger {
                stroke: white;
              }
            }
          }
        }
      }
    }
  }
  .section_info {
    & .item_content {
      background: $primaryColorDark;
      .item_left {
        & span {
          color: #ffffff;
        }
        & hr {
          background: $secondaryColorDark;
        }
      }
      .item_right {
        max-inline-size: 50ch;
        & .button {
          width: 172px;
          margin-top: 50px;
        }
      }
    }
  }
  .section_quote {
    & .item_quote {
      & svg {
        & defs {
          & linearGradient {
            & stop {
              stop-color: #53f3cd;
            }
          }
        }
      }
    }
  }
  .section_video {
    & div:nth-child(1) {
      border: 1px solid #515773;
    }
  }
  .section_benefits {
    & div {
      border-top: 1px solid #515773;
    }
  }
  .section_promises {
    .item_content {
      background: #161926;
      & h5 {
        color: white;
      }
      & p {
        color: white;
        opacity: 0.8;
      }
      & .right {
        .block_button {
          border: 1px solid #515773;
          &:hover {
            border: 1px solid #02e0ab;
            & .button {
              background-color: #b4f6e6;
              & a {
                color: #02e0ab;
              }
            }
          }
          & .button {
            width: 109px;
          }
        }
      }
    }
  }
  .section_contact {
    border-top: 1px solid #515773;
    border-bottom: 1px solid #515773;
    & .contact_form {
      & form {
        & div {
          & label {
            color: white;
          }
        }
        & .button {
          background-color: $thirdColorDark;
          & button {
            color: $fourthColorDark;
          }
          &:hover {
            background-color: #b4f6e6;
            & button {
              color: #02e0ab;
            }
          }
        }
      }
    }
  }
  footer {
    & .container {
      & p,
      & span {
        color: white;
      }
    }
  }
}
