@import "mixins";
@import "reset.";

$primaryColor: #262a3f;
$secondaryColor: #85bbb1;
$thirdColor: rgba(241, 137, 123, 0.3);
$fourthColor: #f1897b;

body {
  background-color: white;
}
main {
  min-width: 100%;
  overflow: hidden;
  @extend %transition;
}
h1,
h2 {
  @include fontStyle(3.34vw, 400, 118.182%, auto, none, $primaryColor);
  font-family: "Playfair Display", serif;
  & i {
    color: $secondaryColor;
  }
}
h2 {
  font-size: 2.7vw;
  line-height: 120%;
}
p {
  @include fontStyle(1.3vw, 300, 144.444%, auto, none, $primaryColor);
  font-family: Lato, sans-serif;
  opacity: 0.8;
}
input {
  width: 100%;
  border-bottom: 1px solid #ebecee;
  @extend %transition;
  &:focus {
    border-bottom: 1px solid $primaryColor;
    & ~ label {
      display: none;
    }
  }
  &:focus:valid {
    border-bottom: 1px solid #85bbb1;
  }
  &:focus:invalid {
    border-bottom: 1px solid #e54f3a;
  }
}
.button {
  height: 13px;
  background-color: $thirdColor;
  position: relative;
  margin-left: 8px;
  @extend %transition;
  a {
    position: absolute;
    top: -10px;
    left: -9px;
    @include fontStyle(1.25em, 700px, 100%, 1.6px, uppercase, $fourthColor);
    font-family: Lato, serif;
    @extend %transition;
  }
  &:hover {
    background-color: #f8cbc4;
    & a {
      color: #e54f3a;
    }
  }
}
.container {
  margin: 0 auto;
  width: 82.22%;
  max-width: 1200px;
  @extend %transition;
}
header {
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.24) 24.1%,
      rgba(255, 255, 255, 0) 47.19%
    ),
    rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
  width: 100%;
  position: absolute;
  top: 30px;
  z-index: 10;
  & .container {
    padding-top: 28px;
    padding-bottom: 28px;
    & .navigation {
      @include flexBox(space-between, center, 0);
      & .logo {
        width: 107px;
        height: 32px;
        & svg {
          width: 100%;
          height: 100%;
        }
      }
      & .nav_menu {
        @include flexBox(space-between, center, 0);
        & .toggle {
          width: 0;
          height: 0;
          opacity: 0;
        }
        & ul {
          @include flexBox(space-around, center, 30px);
          & li {
            position: relative;
            &:hover {
              &::after {
                content: "";
                width: 110%;
                height: 3px;
                background-color: $thirdColor;
                position: absolute;
                bottom: -5px;
                display: block;
                left: -3px;
              }
            }
            & a {
              @include fontStyle(14px, 400, 171.429%, 1.12px, capitalize, $primaryColor);
              font-family: Lato, sans-serif;
            }
          }
        }
        & .menuHamburger {
          width: 34px;
          height: 20px;
          display: none;
          position: relative;
          label {
            .burger {
              position: absolute;
              top: -7px;
              max-width: none;
              max-height: none;
            }
          }
        }
      }
    }
  }
}
.section_first_content {
  background-color: transparent;
  position: relative;
  .first_img {
    @include adaptiveImg(68%, 100%);
  }
  .content {
    max-inline-size: 66ch;
    position: absolute;
    top: 26.055556%;
    left: 8.88888888889%;
    & p {
      margin-top: 20px;
      margin-bottom: 50px;
    }
    & .button {
      width: 120px;
    }
  }
}
.section_info {
  position: relative;
  & .item_img {
    @include adaptiveImg(57.3%, 48.7%);
    margin-top: -21.649573%;
  }
  & .item_content {
    width: 65.811965812%;
    opacity: 0.9;
    background: #fff;
    @include flexBox(center, flex-start, 50px, row);
    position: absolute;
    top: 42px;
    left: 34%;
    padding-top: 3.8%;
    padding-bottom: 3.8%;
    padding-left: 5%;

    .item_left {
      @include flexBox(center, center, 40px, column);
      & div {
        @include flexBox(center, center, 0, column);
        .value {
          @include flexBox(center, flex-end, 6px);
          & svg {
            width: 21px;
            height: 50px;
          }
        }
        & p {
          margin-top: 5px;
        }
      }
      & span {
        @include fontStyle(4.72vw, 400, 105.882%, auto, none, $primaryColor);
        font-family: "Playfair Display", serif;
      }
      & hr {
        width: 100px;
        height: 1px;
        background: $secondaryColor;
        margin-top: 50px;
      }
    }
    .item_right {
      max-inline-size: 50ch;
      & .button {
        width: 172px;
        margin-top: 50px;
      }
    }
  }
}
.section_benefits {
  @include flexBox(center, flex-start, 0, row);
  column-gap: 30px;
  row-gap: 59px;
  @extend %marginTop;
  & div {
    width: 48.7179487179%;
    border-top: 1px solid #e4e4e4;
    padding: 50px 30px 20px 30px;
    & h2 {
      max-inline-size: 19ch;
    }
    & p {
      margin-top: 30px;
      margin-bottom: 30px;
      max-inline-size: 45ch;
    }
  }
}
.section_quote {
  position: relative;
  margin-top: 96px;
  & .item_img {
    @include adaptiveImg(34%, 100%);
  }
  & .item_quote {
    position: absolute;
    top: 18%;
    left: 8.3%;
    max-inline-size: 89ch;
    & svg {
      & defs {
        & linearGradient {
          & stop {
            stop-color: #f1897b;
          }
        }
      }
    }
    & blockquote {
      margin-left: 60px;
      margin-top: -55px;
      & p {
        @include fontStyle(2.25vw, 400, 143.75%, auto, none, white);
        font-family: Lato, sans-serif;
      }
      & footer {
        @include fontStyle(1.4vw, 400, 100%, 1.6px, none, white);
        font-family: "Playfair Display", serif;
        font-style: italic;
        margin-top: 40px;
      }
    }
  }
}
.section_video {
  @extend %marginTop;
  & div:nth-child(1) {
    width: 83%;
    border: 1px solid #e4e4e4;
    border-radius: 32px;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 31px;
    & div {
      margin: 0 auto;
      @include adaptiveImg(55.5%, 90%);
    }
  }
  & div:nth-child(2) {
    width: 83%;
    margin: 0 auto;
    padding-top: 50px;
    & p {
      margin-top: 26px;
      max-inline-size: 80ch;
    }
  }
}
.section_promises {
  position: relative;
  @extend %marginTop;
  .item_img {
    @include adaptiveImg(46%, 52%);
  }
  .item_content {
    width: 65.811965812%;
    opacity: 0.9;
    background: #fff;
    @include flexBox(flex-start, flex-start, 4vw);
    position: absolute;
    top: 43px;
    left: 35%;
    padding-top: 6.5%;
    padding-bottom: 6.8%;
    padding-left: 5%;
    & .left {
      margin-left: 10px;
      & div:nth-child(1) {
        margin-bottom: 66px;
      }
    }
    & .right {
      .block_button {
        border: 1px solid #e4e4e4;
        padding: 34px 96px 36px 87px;
        margin-top: 84px;
        @extend %transition;
        &:hover {
          border: 1px solid #e54f3a;
          & .button {
            background-color: #f8cbc4;
            & a {
              color: #e54f3a;
            }
          }
        }
        & .button {
          width: 109px;
        }
      }
    }
    & h5 {
      @include fontStyle(1.67vw, 400, 200%, normal, none, $primaryColor);
      font-family: "Playfair Display", serif;
    }
    & p {
      @include fontStyle(1.35vw, 300, 144.444%, normal, none, $primaryColor);
      font-family: Lato, sans-serif;
      margin-top: 8px;
      max-inline-size: 30ch;
    }
  }
}
.section_review {
  @extend %marginTop;
  & .title {
    & p {
      margin-top: 20px;
      margin-bottom: 50px;
      max-inline-size: 44ch;
    }
  }
  & .cards_block {
    @include flexBox(center, flex-start, 30px);
    flex-flow: row wrap;
    & .card_item {
      position: relative;
      width: 31.6239316239%;
      & .item_img {
        @include adaptiveImg(91.3%, 100%);
      }
      & .item_content {
        position: absolute;
        top: 30px;
        right: 40px;
        bottom: 30px;
        left: 40px;
        //noinspection CssInvalidPropertyValue
        & blockquote {
          position: relative;
          height: -webkit-fill-available;
          max-inline-size: 40ch;
          & p {
            position: absolute;
            top: 0;
            left: 0;
            @include fontStyle(1.15vw, 400, 162.5%, auto, none, white);
            font-family: Lato, sans-serif;
          }
          & footer {
            position: absolute;
            left: 0;
            bottom: 0;
            @include fontStyle(1.4vw, 400, 100%, 1.6px, none, white);
            font-family: Playfair Display, serif;
            font-style: italic;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
.section_contact {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 6.7vw;
  padding-bottom: 6.8vw;
  & .flex {
    @include flexBox(space-between, center, 0, row);
    padding-top: 31px;
  }
  & .contact_title {
    width: 40.82906%;
    & h2 {
      margin-top: -50px;
    }
    & p {
      max-inline-size: 39ch;
      margin-top: 29px;
    }
  }
  & .contact_form {
    width: 39.17094%;
    & form {
      width: 100%;
      @include flexBox(center, flex-start, 4vw, column);
      margin-top: 44px;
      & div {
        position: relative;
        width: 100%;
        & label {
          @include fontStyle(1.25vw, 400px, 111.111%, 1.44px, none, $primaryColor);
          font-family: "Playfair Display", serif;
          font-style: italic;
          opacity: 0.5;
          position: absolute;
          top: -20px;
          left: 0;
        }
      }
      & .button {
        width: 166px;
        height: 13px;
        background-color: $thirdColor;
        position: relative;
        margin-top: -13px;
        @extend %transition;
        &:hover {
          background-color: #f8cbc4;
          & button {
            color: #e54f3a;
          }
        }
        button {
          position: absolute;
          top: -10px;
          left: -9px;
          @include fontStyle(1.25em, 700px, 100%, 1.6px, uppercase, $fourthColor);
          font-family: Lato, serif;
          @extend %transition;
          background: transparent;
        }
      }
    }
  }
}
footer {
  padding-bottom: 30px;
  padding-top: 30px;
  & .container {
    @include flexBox(space-between, center, 0, row);
    & p,
    & span {
      @include fontStyle(0.9em, 300px, 185.714%, normal, none, $primaryColor);
      font-family: Lato, serif;
      opacity: 0.6;
    }
  }
}
